{% load  static %}
{% load widget_tweaks %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="Home_Page" id="1" style="background-image: url({% static 'images/s1.jpg' %}); " >
            <nav class="navbar navbar-expand-lg navbar-light bg-light navgation">
                <div class="container">
                    <div class="logo ">
                        <div><a class="navbar-brand" href="{% url 'Home' %}"> <span>Safar</span>Bangla</a></div>
                        <div><button class="navbar-toggler down" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse links" id="navbarSupportedContent">
                        <div class="cont_links">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div>
                            
                        </div>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                            <div class="link_home"></div>
                        </li>
                        <li class="nav-item sel_about">
                            <a class="nav-link " href="#2">About</a>
                            <div class="link_about"></div>
                        </li>
                        <li class="nav-item sel_services">
                            <a class="nav-link" href="#3">Explore</a>
                            <div class="link_services"></div>
                        </li>
                        <li class="nav-item sel_work">
                            <a class="nav-link" href="#4">Blog</a>
                            <div class="link_work"></div>
                        </li>
                        <li class="nav-item sel_contact">
                            <a class="nav-link" href="{% if user.is_authenticated %} {% url 'booking_list' user.id %} {% else %}# {% endif %}">Bookings</a>
                            <div class="link_contact"></div>
                        </li>
                        </ul>
                        </div>
                    </div>
                    
                </div>
                {% if user.is_authenticated %}
                <div class="login ">
                    
                    <a class="login" href="{% url 'profile' user.username %}"><button type="button" class="btn btn-outline-info">{{user.username}}</button></a>
                </div>
            
                {% else %}
                <div class="login ">
                    
                    <a class="login" href="{% url 'Login' %}"><button type="button" class="btn btn-outline-info">Login </button></a>
                </div>
                {% endif %}
            </nav>
                    <div class="row  g-0 ">
                        <div class="col-lg-12 col-sm-6">
                            <div class="content d-flex justify-content-center vh-100 align-items-center ">
                                <div class="text text-center ">
                                    <h1>Travel <br> website <span>design</span></h1>
                                    <p>Explore The World With Us</p>
                                </div>
                            </div>
                        </div>
                    </div>  

            <!-- form in home page -->
            <div class="container">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                       {% if form is None and Fform is None or form is not None %}
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="submit" role="tab" aria-controls="pills-profile" aria-selected="false">Hotels</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link "  id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Flight</button>
                        </li>
                        {% else %} 
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="submit" role="tab" aria-controls="pills-profile" aria-selected="false">Hotels</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link  active"  id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Flight</button>
                        </li>
                        {% endif %}
                    </ul>
                <div class="tab-content" id="pills-tabContent">
                
                               {% if form is None %}
                               {% if Fform is None  %}
                               <div class="tab-pane fade show active " id="pills-home" action="{% url 'booking' 'rtype'%}" role="tabpanel" aria-labelledby="pills-home-tab">
                               <div class="tab-pane fade show  active  " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                {% else %}
                                <div class="tab-pane fade " id="pills-home" action="{% url 'booking' 'rtype'%}" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                {% endif %}
                               <div class=" row">
                                <div class="col-lg-12 col-sm-6">
                                    <form class="form_color p-5"  name ="Hotels" action="{% url 'Home' %}" method="GET">
                                        <div class="row  gy-2 ">
                                            <label>Choose Room Type</label>
                                                <div class="col-lg-3 col-sm-12 d-flex">
                                                    <select name="rtype" class="form-select" aria-label="Default select example">
                                                        <option  selected>Room Type</option>
                                                        <option value="SIG" >single</option>
                                                        <option value="DOB" >Double</option>
                                                        <option value="DEX" >Deluxe</option>
                                                    </select>
                                                </div>
                                                {% if profile.vip %} <label style="color:red">U will have 10% off the reservation price</label> {% else %}  {% endif %}
                                                <div class="col-lg- col-sm-12 d-flex justify-content-center">
                                                    <button type="submit" name="Hotels"class="btn btn-primary tm-btn-search mt-3">Check Rooms</button>
                                                </div>
                                        
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                   
                               
                               {% else %}
                                <div class=" row">
                                    <div class="col-lg-12 col-sm-6">
                                        <form class="form_color p-5" name="Hotels" action="{% url 'booking' rtype  %}" method="POST">
                                            {% csrf_token %}
                                        
                                            <div class="row  gy-2 ">
                                                  <label>Choose Room</label>
                                                  {% render_field form.Room class="form-select" %}
                                                  <label>Check In </label>
                                                  {% render_field form.Rcheck_in  class="form-datetime" type="datetime-local"%}
                                                  <label>Check Out</label>
                                                   {% render_field form.Rcheck_out  type="datetime-local" class="form-datetime" %}

                                                   {% if profile.vip %} <label style="color:red">U will have 10% off the reservation price</label> {% else %}  {% endif %}
                                                    <div class="col-lg- col-sm-12 d-flex justify-content-center">
                                                        <button type="submit" name="Hotels" class="btn btn-primary tm-btn-search mt-3">Book Room</button>
                                                    </div>
                
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            


                            

                       
                        
                         
                          
                          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="row">
                                <div class="col-lg-12 col-sm-6">
                                    <form class="form_color p-5" action="{% url 'biman_flights' %}" method="GET">
                                        <div class="row gy-2">
                                            <label>Choose Destination</label>
                                            <div class="col-lg-3 col-sm-12 d-flex">
                                                <select name="det_from" class="form-select" aria-label="Default select example">
                                                    <option value="None" selected>Destination From</option>
                                                    <option value="CAI">Dhaka</option>
                                                    <option value="SSH">Rajshahi</option>
                                                    <option value="HGR">Sylhet</option>
                                                    <option value="HBE">Cox's Bazar</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-sm-12 d-flex">
                                                <select name="det_to" class="form-select" aria-label="Default select example">
                                                    <option value="None" selected>Destination To</option>
                                                    <option value="CAI">Khulna</option>
                                                    <option value="SSH">Cox's Bazar</option>
                                                    <option value="HGR">Jessore</option>
                                                    <option value="HBE">Saidpur</option>
                                                </select>
                                            </div>
                        
                                            {% if profile.vip %}
                                            <label style="color:red">You will have 10% off the reservation price</label>
                                            {% endif %}
                        
                                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
                                                <button type="submit" name="Flights" class="btn btn-primary tm-btn-search mt-3">See Flights</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        
                            <!-- If flights data exists, show the available flights -->
                            {% if flights %}
                            <div class="row">
                                <h3>Available Flights:</h3>
                                {% for flight in flights %}
                                    <div class="col-lg-4">
                                        <div class="flight-card">
                                            <h5>{{ flight.Airline_name }}</h5>
                                            <p>From: {{ flight.From }} To: {{ flight.To }}</p>
                                            <p>Departure: {{ flight.Depart }}</p>
                                            <p>Price: ${{ flight.Price }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <p>No flights available for the selected destinations.</p>
                            {% endif %}
                        </div>                        
                </div>
            </div>
        </header>

        <section class="About" id="2">
        <div class="container ">
            <div class="row mb-5 ">
                <div class="col-lg-12 col-sm-12">
                    <div class="text-center ">
                        <h1 class="hd">About us</h1>
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                </div>
            </div>
                <div class="row g-5 ">
                    <div class="col-lg-5 col-sm-12 ">
                        <h1 class="">About Safar Bangla</h1>
                        <p class="phr_about">Safar Bangla is a comprehensive travel management platform designed to simplify travel planning across Bangladesh. It offers seamless booking for buses, trains, flights, and hotels, along with guided tour packages for Sundarbans and other destinations. Users can compare transport options, book accommodations, and review their experiences. The admin panel allows full control over bookings, pricing, and customer management. Safar Bangla ensures a hassle-free and efficient travel experience with a user-friendly interface and secure payment system. </p>
                    </div>
                    <div class="col-lg-7 col-sm-12 pb-5">
                        <div class="curous">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/s2.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/s3.webp' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/s4.webp' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/s5.webp' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/s6.webp' %}" class="d-block w-100" alt="...">
                            </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
        </div>
        </section>


        <section class="Explore " id="3">        
            <div class="container p-5">
                <div class="row mb-5 ">
                    <div class="col-lg-12 col-sm-12">
                        <div class="text_under text-center ">
                            <h1 class="hd">Explore Sundarban</h1>
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>

                <div class="row  g-5 ">
                    <div class="col-lg-5 col-sm-12 ">
                        <div class="text d-flex align-items-center h-100">
                            <div class="">
                            <h5>We'll take care of everything : </h5>
                            <p>You will enjoy spending your time with us by getting high quality services at discounted prices. Look at this video and see some of the trips we take.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <div class="video ">
                            <video src="{% static 'images/video.mp4' %}" controls class=" w-100 h-100" ></video>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-sm-12 py-5 d-flex justify-content-center">
                        <div class="clo-lg-3 m-2 text-center">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top " src="images/travel1.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="clo-lg-3 m-2 text-center">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="images/travel2.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="clo-lg-3 m-2 text-center">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="images/travel3.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                        <div class="clo-lg-3 m-2 text-center">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top img-fluid" src="images/travel4.webp" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary ">Go somewhere</a>
                                </div>
                              </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>



        <section class="blog py-3 " id="4">
            <div class="container">
                <div class="row mb-5 ">
                    <div class="col-lg-12 col-sm-12">
                        <div class="text_under text-center ">
                            <h1 class="hd">Blog</h1>
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>
                    <div class="row row-cols-1 row-cols-md-3 g-2">
                    <div class="col-lg-4 mt-3 card_action">
                        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/hiron_point.jpg' %}" class="card-img-top  " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Hiron Point</h5>
                            <p class="card-text">Hiron Point, also known as Nilkamal, is a famous wildlife sanctuary in the Sundarbans, Bangladesh. It is a UNESCO World Heritage Site and a prime location for spotting the Royal Bengal Tiger, spotted deer, wild boars, and various bird species, including migratory birds. Surrounded by dense mangrove forests and river channels, it offers breathtaking natural beauty and is a paradise for nature lovers and photographers. The tranquil environment and rich biodiversity make Hiron Point a must-visit destination for eco-tourism. 🌿🐅</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  mt-3 card_action">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/Karamjal.jpg' %}" class="card-img-top " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Karamjal Point</h5>
                            <p class="card-text">Karamjal is a popular eco-tourism spot in the Sundarbans, Bangladesh. It serves as a wildlife breeding and conservation center, especially for crocodiles and deer. Visitors can explore the mangrove forest, walk along wooden trails, and observe diverse wildlife, including monkeys, birds, and reptiles. Karamjal is an ideal place to experience the unique beauty of the Sundarbans ecosystem while learning about conservation efforts. 🌿🐊</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  mt-3 card_action">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/dublar_char.webp' %}" class="card-img-top " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Dublar Char</h5>
                            <p class="card-text">Dublar Char is a small island in the Sundarbans, famous for its fishing activities and natural beauty. It is known for the annual Rash Mela, a religious festival celebrated by Hindu devotees. The island is home to a large community of fishermen who set up seasonal fishing camps. With its pristine beaches, rich biodiversity, and a unique blend of culture and nature, Dublar Char is a fascinating destination for travelers exploring the Sundarbans. 🌊🐟</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  mt-3 card_action">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/park.jpg' %}" class="card-img-top " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Sundarban National Park</h5>
                            <p class="card-text">Sundarban National Park is a UNESCO World Heritage Site and the largest mangrove forest in the world, located in the delta region of India and Bangladesh. It is home to the famous Royal Bengal Tiger, as well as diverse wildlife like crocodiles, deer, and various bird species. The park is known for its dense mangrove trees, tidal rivers, and unique biodiversity. It serves as a crucial ecosystem for marine and terrestrial life and plays a significant role in protecting coastal areas from storms and erosion. Sundarban National Park is a paradise for wildlife lovers and adventure seekers. 🌿🐅🌊</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3 card_action">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/kotka.jpg' %}" class="card-img-top " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Kotka Beach</h5>
                            <p class="card-text">Kotka Beach is one of the most scenic and popular tourist spots in the Sundarbans, located along the Bay of Bengal. It is known for its golden sandy shores, serene atmosphere, and breathtaking sunset views. The beach is a prime spot for spotting wildlife, including deer, monkeys, and various bird species. Nearby, the Kotka Wildlife Sanctuary offers a chance to explore the rich biodiversity of the Sundarbans, including the elusive Royal Bengal Tiger. Kotka Beach is a perfect destination for nature lovers, photographers, and adventure seekers looking to experience the untouched beauty of the Sundarbans. 🌊🏝️🐅</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3 card_action">
                        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                            <img src="{% static 'images/jamtola_beach.webp' %}" class="card-img-top " alt="...">
                            <div class="card-body position-relative mb-5">
                            <h5>Jamtola sea Beach</h5>
                            <p class="card-text">Jamtola Beach is a hidden gem in the Sundarbans, located near the famous Sundarbans Reserve Forest. Known for its tranquil environment, Jamtola Beach offers golden sandy shores, surrounded by lush green mangroves and serene waters. It is a less crowded spot compared to other beaches, making it an ideal place for a peaceful retreat and a closer connection with nature. The beach is also a great location for birdwatching, as it is home to many species of migratory birds. Visitors can enjoy scenic walks along the shore, and it is a fantastic spot to experience the beauty of the Sundarbans in its purest form. 🌅🐦🌊</p>
                            <h5 class="card-title"><a href="#">Read More</a></h5>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </section>

        {% comment %} <section class="offer py-5">
            <div class="container">
                <div class="row mb-5 ">
                    <div class="col-lg-12 col-sm-12  ">
                        <div class="text_under text-center ">
                            <h1 class="hd">Offers</h1>
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        
                        <div class="row mt-5 g-5">
                            <div class="col-lg-4 col-sm-12 mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="{% static 'images/Alex.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="{% static 'images/Alex.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="{% static 'images/Alex.jpg' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="images/Alex.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="images/Alex.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                                <div class="card  card_offer text-center" style="width: 20rem;">
                                    <img src="images/Alex.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    <h3 class="card-title">Alexandria</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h5>Price : <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                                    <a href="#" class="btn btn-primary mt-2 text-center">Booking</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        {% comment %} </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %} 
    
















        <!-- <section class="Footer">
            <div class="row g-0">
                <div class="col-lg-15 col-sm-12 ">
                    <div class="carry">
                        <p>© Copyright DevFolio. All Rights Reserved
                            <br>  Designed by  <a href="#">BootstrapMade</a></p>
                    </div>
                </div>
            </div>
            
        </section> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  
    </body>
</html>